<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fulanoeciclano.nerdzone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- <uses-sdk tools:overrideLibrary="com.firebase.ui.auth" /> -->
    <application
        android:name=".Helper.App"
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Activits.MainActivity" />
        <activity android:name=".Autenticacao.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Icons.PageIcon"
            android:label="@string/title_activity_page_icon1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activits.MinhaConta"
            android:label="@string/title_activity_minha_conta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activits.GeralContatosActivity" />
        <activity android:name=".Activits.ChatActivity" />
        <activity android:name=".Abrir_Imagem.AbrirImagemHQ" />
        <activity android:name=".Activits.MensagensActivity" />
        <activity android:name=".Activits.MeusAmigosActivity" />
        <activity android:name=".Evento.Cadastrar_Novo_Evento" />
        <activity android:name=".Activits.Minhas_Publicacoes" />
        <activity android:name=".Mercado.MercadoActivity" />
        <activity android:name=".Mercado.Cadastrar_Novo_MercadoActivity" />
        <activity
            android:name=".Evento.DetalheEvento"
            android:label="@string/title_activity_detalhe_evento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mercado.Detalhe_Mercado"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activits.Gifteste" />
        <activity android:name=".Abrir_Imagem.AbrirImagemComercio" />
        <activity android:name=".Evento.Evento_Lista" />
        <activity
            android:name=".PerfilAmigos.Perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activits.teste" />
        <activity android:name=".Topico.ListaTopicos" />
        <activity android:name=".Edit.Edit_evento_Activity" />
        <activity android:name=".Edit.Edit_Loja_Activity" />
        <activity android:name=".Topico.Novo_Topico" />
        <activity android:name=".Topico.Detalhe_topico" />
        <activity android:name=".Conto.ListaConto" />
        <activity android:name=".Conto.Novo_Conto" />
        <activity android:name=".Seguidores.MinhaConta.MeusSeguidores" />
        <activity android:name=".Seguidores.Perfil.SeguidoresPerfil" />
        <activity android:name=".Abrir_Imagem.AbrirImagem" />
        <activity android:name=".Abrir_Imagem.AbrirImagem_Art" />
        <activity android:name=".MinhasColecoes.Minhas_Colecoes" />
        <activity android:name=".Feed.FeedActivity" />
        <activity android:name=".FanArts.Lista_Arts" />
        <activity android:name=".FanArts.Nova_Arts" />
        <activity android:name=".Politica_Privacidade.Politica_PrivacidadeActivity" />
        <activity android:name=".FanArts.Detalhe_FarArts_Activity" />
        <activity android:name=".FanArts.Editar_Fan_arts_Activity" />
        <activity android:name=".Edit.Edit_Topico_Activity" />
        <activity android:name=".Edit.EditarContosActivity" />
        <activity android:name=".Conto.Detalhe_Conto_Activity" />
        <activity android:name=".Votacao.Tela_Inicial_Votacao_Activity" />
        <activity android:name=".Votacao.Listar.canal_youtube.Lista_canal_youtube_Activity" />
        <activity android:name=".Votacao.Listar.cinema.Lista_cinema_Activity" />
        <activity android:name=".Votacao.Listar.cosplay.Lista_cosplay_masc" />
        <activity android:name=".Votacao.Listar.cosplay.Lista_cosplay_Femi" />
        <activity android:name=".Votacao.Listar.digital_influencer.Lista_digital_masc" />
        <activity android:name=".Votacao.Listar.digital_influencer.Lista_digital_fem" />
        <activity android:name=".Votacao.Listar.empreendedor.Lista_empreendedor" />
        <activity android:name=".Votacao.Listar.empreendedora.Lista_empreendedora" />
        <activity android:name=".Votacao.Listar.escritor_roterista.Lista_escritor" />
        <activity android:name=".Votacao.Listar.escritora_roterista.Lista_escritora" />
        <activity android:name=".Votacao.Listar.espaco_geek.Lista_espaco_geek" />
        <activity android:name=".Votacao.Listar.kpop.Lista_kpop_masc" />
        <activity android:name=".Votacao.Listar.kpop.Lista_kpop_fem" />
        <activity android:name=".Votacao.Listar.livro_quadrinho.Lista_livro_quadrinho" />
        <activity android:name=".Votacao.Listar.loja_virtual.Lista_loja_vitural" />
        <activity android:name=".Votacao.Listar.portal_noticia.Lista_portal_noticia" />
        <activity android:name=".Votacao.Listar.reporter.Lista_reporter_masc" />
        <activity android:name=".Votacao.Listar.reporter.Lista_reporter_fem" />
        <activity android:name=".Votacao.Listar.youtuber.Lista_youtuber_masc" />
        <activity android:name=".Votacao.Listar.youtuber.Lista_youtuber_fem" />
        <activity android:name=".Votacao.Cadastro.canal_do_youtube.Novo_canal_youtube" />
        <activity android:name=".Votacao.Cadastro.cinema.novo_cinema" />
        <activity android:name=".Votacao.Cadastro.cosplay.novo_cosplay_masc" />
        <activity android:name=".Votacao.Cadastro.cosplay.novo_cosplay_fem" />
        <activity android:name=".Votacao.Cadastro.digital_influencer.novo_digital_masc" />
        <activity android:name=".Votacao.Cadastro.digital_influencer.novo_digital_fem" />
        <activity android:name=".Votacao.Cadastro.empreendedor.novo_empreendedor_masc" />
        <activity android:name=".Votacao.Cadastro.empreendedor.novo_empreendedora_fem" />
        <activity android:name=".Votacao.Cadastro.escritor_roterista.novo_escritor_masc" />
        <activity android:name=".Votacao.Cadastro.escritor_roterista.nova_escritora_fem" />
        <activity android:name=".Votacao.Cadastro.espaco_geek.novo_espaco_geek" />
        <activity android:name=".Votacao.Cadastro.kpop.novo_kpop_masc" />
        <activity android:name=".Votacao.Cadastro.kpop.novo_kpop_fem" />
        <activity android:name=".Votacao.Cadastro.livro_quadrinho.novo_livro_quadrinho" />
        <activity android:name=".Votacao.Cadastro.loja_virtual.novo_loja_virtual" />
        <activity android:name=".Votacao.Cadastro.portal_de_noticia.novo_portal_de_noticia" />
        <activity android:name=".Votacao.Cadastro.reporter.novo_reporter_masc" />
        <activity android:name=".Votacao.Cadastro.reporter.novo_reporter_fem" />
        <activity android:name=".Votacao.Cadastro.youtuber.novo_youtuber_masc" />
        <activity android:name=".Votacao.Cadastro.youtuber.novo_youtuber_fem" />
        <activity android:name=".Votacao.Detalhe.detalhe_votacao_masc" />
        <activity android:name=".Votacao.Detalhe.detalhe_votacao_fem" />
        <activity android:name=".Votacao.Detalhe.Detalhe_cosplay_masc" />
        <activity android:name=".Votacao.Detalhe.Detalhe_cosplay_fem" />
        <activity android:name=".Votacao.Detalhe.Detalhe_portal_noticia" />
        <activity android:name=".Votacao.Detalhe.Detalhe_livro_quadrinho" />
        <activity android:name=".Votacao.Detalhe.Detalhe_youtuber_masc" />
        <activity android:name=".Votacao.Detalhe.Detalhe_youtube_fem" />
        <activity android:name=".Votacao.Detalhe.Detalhe_reporter_masc" />
        <activity android:name=".Votacao.Detalhe.Detalhe_reporter_fem" />
        <activity android:name=".Votacao.Detalhe.Detalhe_cinema" />
        <activity android:name=".Votacao.Detalhe.Detalhe_canal_youtube" />
        <activity android:name=".Votacao.Detalhe.Detalhe_kpop_masc" />
        <activity android:name=".Votacao.Detalhe.Detalhe_kpop_fem" />
        <activity android:name=".Votacao.Detalhe.Detalhe_espaco_geek" />
        <activity android:name=".Votacao.Detalhe.Detalhe_Loja_virtual" />
        <activity android:name=".Votacao.Detalhe.Detalhe_escritor_roterista" />
        <activity android:name=".Votacao.Detalhe.Detalhe_escritora_roterista" />
        <activity android:name=".Votacao.Detalhe.Detalhe_empreendedor" />
        <activity android:name=".Votacao.Detalhe.Detalhe_empreendedora" />
        <activity android:name=".Votacao.Resultados.Resultado_digital_masc" />
        <activity android:name=".Votacao.Resultados.Resultado_digital_fem" />
        <activity android:name=".Votacao.Resultados.Resultado_cosplay_masc" />
        <activity android:name=".Votacao.Resultados.Resultado_cosplay_fem" />
        <activity android:name=".Votacao.Resultados.Resultado_portal_noticia" />
        <activity android:name=".Votacao.Resultados.Resultado_livro_quadrinho" />
        <activity android:name=".Votacao.Resultados.Resultado_youtuber_masc" />
        <activity android:name=".Votacao.Resultados.Resultado_youtuber_fem" />
        <activity android:name=".Votacao.Resultados.Resultado_reporter_masc" />
        <activity android:name=".Votacao.Resultados.Resultado_reporter_fem" />
        <activity android:name=".Votacao.Resultados.Resultado_cinema" />
        <activity android:name=".Votacao.Resultados.Resultado_canal_youtube" />
        <activity android:name=".Votacao.Resultados.Resultado_kpop_masc" />
        <activity android:name=".Votacao.Resultados.Resultado_kpop_fem" />
        <activity android:name=".Votacao.Resultados.Resultado_espaco_geek" />
        <activity android:name=".Votacao.Resultados.Resultado_loja_virtual" />
        <activity android:name=".Votacao.Resultados.Resultado_escritor_masc" />
        <activity android:name=".Votacao.Resultados.Resultado_escritora_fem" />
        <activity android:name=".Votacao.Resultados.Resultado_empreendedor" />
        <activity android:name=".Votacao.Resultados.Resultado_empreendedora"></activity>
    </application>

</manifest>