<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fulanoeciclano.nerdzone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- <uses-sdk tools:overrideLibrary="com.firebase.ui.auth" /> -->
    <application
        android:name=".Helper.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Activits.MainActivity" />
        <activity android:name=".Autenticacao.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Icons.PageIcon"
            android:label="@string/title_activity_page_icon1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activits.MinhaConta"
            android:label="@string/title_activity_minha_conta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activits.GeralContatosActivity" />
        <activity android:name=".Activits.ChatActivity" />
        <activity android:name=".Abrir_Imagem.AbrirImagemHQ" />
        <activity android:name=".Activits.MensagensActivity" />
        <activity android:name=".Activits.MeusAmigosActivity" />
        <activity android:name=".Evento.Cadastrar_Novo_Evento" />
        <activity android:name=".Activits.Minhas_Publicacoes" />
        <activity android:name=".Mercado.MercadoActivity" />
        <activity android:name=".Mercado.Cadastrar_Novo_MercadoActivity" />
        <activity
            android:name=".Evento.DetalheEvento"
            android:label="@string/title_activity_detalhe_evento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mercado.Detalhe_Mercado"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activits.Gifteste" />
        <activity android:name=".Abrir_Imagem.AbrirImagemComercio" />
        <activity android:name=".Evento.Evento_Lista" />
        <activity
            android:name=".PerfilAmigos.Perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activits.teste" />
        <activity android:name=".Topico.ListaTopicos" />
        <activity android:name=".Edit.Edit_evento_Activity" />
        <activity android:name=".Edit.Edit_Loja_Activity" />
        <activity android:name=".Topico.Novo_Topico" />
        <activity android:name=".Topico.Detalhe_topico" />
        <activity android:name=".Conto.ListaConto" />
        <activity android:name=".Conto.Novo_Conto" />
        <activity android:name=".Seguidores.MinhaConta.MeusSeguidores" />
        <activity android:name=".Seguidores.Perfil.SeguidoresPerfil" />
        <activity android:name=".Abrir_Imagem.AbrirImagem" />
        <activity android:name=".Abrir_Imagem.AbrirImagem_Art" />
        <activity android:name=".MinhasColecoes.Minhas_Colecoes" />
        <activity android:name=".Feed.FeedActivity" />
        <activity android:name=".FanArts.Lista_Arts" />
        <activity android:name=".FanArts.Nova_Arts" />
        <activity android:name=".Politica_Privacidade.Politica_PrivacidadeActivity" />
        <activity android:name=".FanArts.Detalhe_FarArts_Activity" />
        <activity android:name=".FanArts.Editar_Fan_arts_Activity" />
        <activity android:name=".Edit.Edit_Topico_Activity" />
        <activity android:name=".Edit.EditarContosActivity"></activity>
    </application>

</manifest>